body{
    background:#f5f7fa;
}

#chat-box{
    height:500px;
    overflow-y:auto;
}

.user-message{
    background:#0d6efd;
    color:white;

    padding:10px;
    border-radius:10px;

    margin:10px;
}

.bot-message{
    background:#e9ecef;

    padding:10px;
    border-radius:10px;

    margin:10px;
}

.bot-message h1,
.bot-message h2,
.bot-message h3{
    margin-top:15px;
    font-weight:bold;
}

.bot-message ul{
    padding-left:20px;
}

.bot-message li{
    margin-bottom:8px;
}

.sidebar{
    background:white;
    height:100vh;

    border-right:1px solid #ddd;

    padding:15px;
}

#conversation-list{
    height:85vh;
    overflow-y:auto;
}

.conversation-item{
    background:#f8f9fa;

    padding:10px;

    border-radius:8px;

    margin-bottom:10px;

    cursor:pointer;
}

.conversation-item:hover{
    background:#e2e6ea;
}